:root{
	--celeste: rgba(74, 193, 224 );
	--azul:  rgb(0,172,216);

	--lila: rgb(109,86,160);
	--lilaos: rgb(72,39,120);

	--rojo: rgb(234,84,124);
	--rojoos: rgb(174,24,87);

	--naranja: rgb(249,177,84);
	--naranjaos: rgb(241,135,33);

	--verde: rgb(79,185,168);
	--verdeos: rgb(0,152,119) ;

	--negro: rgb(60,60,59);
	--plomo: rgb(112,111,111);
}
.navmulti{
	display: flex;
	align-items: end;	
	justify-content: end;

	border-radius: 15px;
}
.btnnavmulti{
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.btnnavmulti button{
	height: 50%;
}

.navmulti .a2{
	margin: 10px;
	text-decoration: none;
	font-weight: bold;
	font-size: 1rem;
	color: var(--rojoos);
	padding: 8px;
}
.navmulti .a2 a{
	text-decoration: none;
	color: var(--rojoos);
}
.navmulti .a2:hover{
	background: var(--rojoos);
	padding: 8px;
	border-radius: 15px;
	color: #fff;
}
.navmulti .a2 a:hover{
	color: #fff;
}
.a2.activemulti{
	background: var(--rojoos);
	color:#fff;
	border-radius: 15px;
	
}
.toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
  background-color: var(--naranjaos);
}

.toggler-wrapper .toggler-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
/*Style 24*/

.toggler-wrapper.style-24 {
  width: 90px;
  height: 45px;
}

.toggler-wrapper.style-24 input[type="checkbox"]:checked+.toggler-slider {
  border-color: var(--naranjaos);
}

.toggler-wrapper.style-24 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
  left: calc(100% - 37.5px);
}

.toggler-wrapper.style-24 input[type="checkbox"]:checked+.toggler-slider .toggler-knob:after {
  content: 'P';
}

.toggler-wrapper.style-24 .toggler-slider {
  border-radius: 0;
  background-color: var(--verde);
  border: 2px solid var(--verde);
}

.toggler-wrapper.style-24 .toggler-knob {
  width: 37.5px;
  height: 41px;
  border-radius: 0;
  left: 0;
  top: 0;
  background-color: #fff;
}

.toggler-wrapper.style-24 .toggler-knob:after {
  content: 'T';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 75%;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.7;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}